/* HOJA DE ESTILOS PRACTICA7 */

header {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;
}

h2{
    text-align: center;
    background-color: greenyellow;
}

section {
    width: 33%;
    float: left;
}

footer {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;
    clear: both;
}